<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Reset Password</h3>
    <form #f="ngForm"
      (ngSubmit)="onSubmit(f)">
      <div class="mb-3">
        <label for="resetPasswordEmail"
          class="form-label">Account Email</label>
        <input type="email"
          class="form-control"
          id="resetPasswordEmail"
          name="email"
          ngModel
          required
          #email="ngModel"
          placeholder="Enter Email">
      </div>
      <button type="submit"
        class="btn btn-primary"
        [disabled]="f.invalid"><i class="fas fa-paper-plane"></i> Reset Password </button>
    </form>
  </div>
</div>